.h2boekjes{
  position: absolute ;
  top: 100px;
}

.container{
    display: flex;
    background-color: lightgreen;
    justify-content: space-between;
}

.book-container{
   
    background-color: lightgray;
    width: 300px;
}
.image{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.BookBody {
  display: flex;
  justify-content: space-between; 
  align-items: center;    
  min-height: 100vh;    
  padding: 1rem;          
  box-sizing: border-box;
}


.Header {
  background-color: lightblue;
  display: flex;                 
  justify-content: space-between 50px;
  align-items: center;
  padding: 10px 50px;
  font-size: 15px;
  
}

ul {
  list-style: none;    
  display: flex;       
  gap: 200px;          
  margin: 0;
  padding: 25px;
  border: 10px;
position: relative ;
  top: 7vh ;
justify-content: center;}






li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;

}

.layout-container {
  width: 80vw;
  margin: 0 auto;
}







.layout-container {
  width: 80vw;
  margin: 0 auto;
}

.favorited-text{
  color: rgb(19, 38, 209);
  font-size: 1rem;
}