.container{
    display: flex;
    background-color: lightgreen;
    justify-content: space-between;
}

.book-container{
   
    background-color: lightgray;
    width: 300px;
}
.image{
    width: 100%;
}